<header>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link">About</a>
        <a class="nav-item nav-link">Services</a>
        <a class="nav-item nav-link" routerLink="login" routerLinkActive="active">Login</a>
        <a class="nav-item nav-link" routerLink="register" routerLinkActive="active">Register</a>
    </div>
  </nav>
</header>

<footer class="footer mt-auto py-3 bg-dark fixed-bottom d-flex justify-content-center">
  &copy; 2022
</footer>
